Project/obj/**/*
Project/*userprefs
Project/*user
Project/*suo
Project/Content/bin/**/*
Project/Content/obj/**/*
Output/*
Output/**/*.xml
Output/**/*.exe
Output/**/*.dll
!Output/Scripts/*
!Output/Content/config.xml